@page
@model Libly.Pages.Books.EditModel

<h1>Edit Book</h1>

<form method="post">
    <!-- Hidden field for the Book ID -->
    <input type="hidden" asp-for="Book.Id" />

    <div>
        <label asp-for="Book.Title"></label>
        <input asp-for="Book.Title" class="form-control" />
    </div>

    <div>
        <label asp-for="Book.Dop"></label>
        <input asp-for="Book.Dop" class="form-control" type="date" />
    </div>

    <div>
        <label asp-for="Book.Category"></label>
        <input asp-for="Book.Category" class="form-control" />
    </div>

    <div>
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
</form>

